* {
  margin: 0; 
  padding: 0; 
  position: relative; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

html body {
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #FFFDE0;
  vertical-align: center;
  background: #2B2B26;
}

/* ---------- NAV STUFF ---------- */

.site-wrap{
    height: 100%;
    width: 100%;
    float: left;
    background: #393933;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.site-wrap.condensed{
    width: 75%;
}

ul {
    list-style: none;
}
 
.sub-menu li a {
    color: #FFFDE0;
    font-family: 'Oswald', sans-serif;
    line-height: 4em;
    list-style: none;
    text-decoration: none;
}

.sub-menu li {
    border-bottom: 1px solid black;
    padding: 1em 2em;
}

.content{
    height: 100%;
    width: 100%;
    position: relative;
}

.burger {
  float: right;
  display: inline-block;
}

#click-box{
    background-image: url(../images/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 100;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#sidenav{
    height: 100%;
    width: 0;
    overflow: hidden;
    float: left;
    background: #2B2B26;
    /*padding: 1em 2em;*/
    white-space: nowrap;
    list-style: none;
    font-size: .7em;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#sidenav.expanded{
    width: 25%;
}

li:hover {
  cursor: pointer;
}


/* ---------- NAV STUFF ---------- */

.wip {
  background: yellow;
  font-size: .5em;
  text-align: center;
  color: black;
  width: 100%;
  padding: 5px 0;
  font-family: "Andale Mono", AndaleMono, monospace;
}

.photo {
  width: 100%;
  height: 30em;
  background-image: url(../images/hank.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

h1 {
  margin: auto;
  font-size: 1em;
  line-height: 1em;
  font-weight: 300;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
}

h3 {
  font-size: .7em;
  font-weight: 300;
}

.alt {
  color: #B22F2A;
}

.hero {
  padding: 2em;
  background: #B22F2A;
  margin: auto;
}

a {
  text-decoration: none;
  color: #FFFDE0;
}

.module {
  width: 25%;
  height: 200px;
  float: left;
  text-align: center;
  padding-top: 25px;
}

.filler {
  height: 200px;
  float: left;
  text-align: center;
  padding-top: 40px;
}

.filler.qtr-three {
  width: 75%;
}

.filler.qtr-two {
  width: 50%;
  display: none;
}

.filler.qtr-one {
  width: 25%;
}

.unit-a {
  background: #393933;
  height: 120px;
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.unit-away {
  background: #FFFDE0;
}

.unit-home {
  background: #B22F2A;
}

.wrap-home {
  background: #B22F2A;
}

.header {
  text-align: center;
  background-color: black;
}

/* ------- CLEARFIX ------- */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* ------- MEDIA QUERIES ------- */

@media screen and (max-width:990px) {
  .module {
    width: 50%;
  }

  .site-wrap.condensed {
    width: 65%;
  }

  #sidenav.expanded {
    width: 35%;
  }
}

@media screen and (max-width:640px) {
  .module {
    width: 100%;
    border-bottom: 1px solid #393933;
  }

  h1 {
    font-size: .8em;
  }

  li {
    font-size: .6em;
  }

  .photo {
    height: 20em;
  }

  h2 {
    line-height: 1.5em;
  }

  .site-wrap.condensed {
    width: 50%;
  }

  #sidenav.expanded {
    width: 50%;
  }
}